<div class="app_main">
	<h1>esrimap Component for Angular</h1>
	<div style="height: 600px;">
		<h2>天地图地图服务</h2>
		<e-ngx-esrimap
				[mapType]="'tdt'"
				[mapUrl]="['vec','cva']"
				[gisApiUrl]="gisApiUrl"
				[geoUrl]="geoUrl"
				[esriCSSUrl]="esriCSSUrl"
				[initExtent]="{xmax: 116.39029888900006, xmin: 116.04209077900009, ymax: 40.161018230000025, ymin: 39.885287565000056}"
				(mapReady)="onTdtMapReady($event)">
		</e-ngx-esrimap>
		<h2>ArcGIS地图服务</h2>
		<e-ngx-esrimap
		[isProxy]="false"
		[mapUrl]="mapUrl"
		[enableNavigation]="false"
		[gisApiUrl]="gisApiUrl"
		[geoUrl]="geoUrl"
		[esriCSSUrl]="esriCSSUrl"
		[initExtent]="{xmax: 116.39029888900006, xmin: 116.04209077900009, ymax: 40.161018230000025, ymin: 39.885287565000056}"
		(mapReady)="onEsriMapReady($event)">
		</e-ngx-esrimap>
		<br>
	</div>
</div>
